$color-blue: #1FA2FF;
$color-grey: #4c4d54;
$color-lightGrey: #eff1f4;
$color-text: #313239;
$color-highlight: #12D8FA;
$color-minimise: #fcc419;
$color-maximise: #51cf66;
$color-quit: #ff6b6b;
$gradient: #1FA2FF, #12D8FA, #81f1c9;


* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $color-text;
    margin: 0;
    background: linear-gradient(to bottom right, $gradient);
}

body {
    margin: 0;
    color: #313239;
}

.textInput:focus, .button:focus, .bops {
    outline: 0;
}

.header {
  background-color: $color-grey;
  color: white;
  height: 30px;
  padding: 4px 0px;
  border-radius: 15px 15px 0 0;
  text-align: center;

  .bops {
    display: inline-block;
    margin: 0 0 0 5px;
    height: 15px;
    width: 15px;
    float: right;
    position: relative;
    right: 10px;
    top: -17px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        filter: opacity(70%);
    }
  }

  .minimise {
      background-color: #fcc419;
  }

  .maximise {
      background-color: #51cf66;
  }

  .quit {
      background-color: #ff6b6b;
  }
}


.firstProgram {
    width: 500px;
    margin: 70px auto 0;

    .content {
      background-color: white;
      height: 255px;
      padding: 26px 0;
      border-radius: 0 0 18px 18px;
    }

      .title {
        margin: 0;
        text-align: center;
        font-weight: 400;
        letter-spacing: 6px;
        text-transform: capitalize;
      }

      .textInput {
        background-color: $color-lightGrey;
        display: block;
        margin: 28px auto;
        padding: 12px;
        width: 90%;
        font-size: 20px;
        border-radius: 6px;
        border: solid 2px $color-lightGrey;
        text-align: center;
        transition: all 0.7s;

        &:focus {
            border: solid 2px #12D8FA;
          }
      }

      .button {
        background-color: white;
        display: block;
        margin: 0 auto;
        padding: 15px 50px;
        border-radius: 100px;
        font-size: 16px;
        border: 2px solid #1FA2FF;
        letter-spacing: 5px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: #1FA2FF;
          color: white;
        }
      }

      .textOutput {
        opacity: 1;
        background-color: $color-blue;
        color: white;
        width: 70%;
        height: 40px;
        word-break: break-all;
        line-height: 25px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        margin: 20px auto 0;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.6s, opacity 0.3s 0.5s;
      }
}
